{% extends '::base.html.twig' %}
{% block body -%}
<form action="{{ path('trace_setDifficulty') }}" method="post">
    Evaluez la difficulté de la tâche que vous venez d’effectuer. Cochez la case qui vous convient :

    <label class="radio">
        <input type="radio" name="difficulty" value=1> Très facile
    </label>
    <label class="radio">
        <input type="radio" name="difficulty" value=2> Facile
    </label>
    <label class="radio">
        <input type="radio" name="difficulty" value=3> Normal
    </label>
    <label class="radio">
        <input type="radio" name="difficulty" value=4> Difficile
    </label>
    <label class="radio">
        <input type="radio" name="difficulty" value=5> Très difficile
    </label>

    <input type="hidden" name="traceId" value="{{ traceId }}"/>
    <input type="hidden" name="testId" value="{{ testId }}"/>
    <input type="submit" class="btn btn-primary" value="Valider"/>
</form>
{% endblock %}