{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Users list</h1>
    <table class="records_list table">
        <thead>
            <tr>
                <th>Nom</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_user_show', { 'id': entity.id }) }}">{{ entity.username }}</a></td>
                <td class="text-right">
                    <a href="{{ path('admin_user_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-edit"></span></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <a href="{{ path('admin_user_new') }}" class="btn btn-primary">Create a new entry</a>


    {% endblock %}
