# Bootstrap
app/bootstrap*

# Maintenance lockfile
app/lock

# Vendors
/vendor/

# Cache / Logs
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep

# Web directories
web/bundles/*
web/upload/
web/js/*
!web/js/.gitkeep

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

*.sql
*.log
sql/*

# Build
build/*
build.xml

*.php~
*.orig
composer.phar

