# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/upload/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

*.sql
*.log
sql/*

# Build
build/api/
build/logs/
build/code-browser/


*.php~
*.orig
composer.phar
composer.lock

# Session
app/sessions/*
!app/sessions/.gitkeep

# export csv
web/upload/export/csv/*
!web/upload/export/csv/.gitkeep

# avalanche thumbnail
web/upload/thumbnail/*
