# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/bundles/*
web/upload/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

*.sql
*.log
sql/*

# Build
build/*

*.php~
*.orig
composer.phar

# Session
app/sessions/*
!app/sessions/.gitkeep

# export csv
app/data/export/*
!app/data/export/.gitkeep

# avalanche thumbnail
web/upload/thumbnail/*

web/media/cache/*


