{% extends '::base.html.twig' %}

{% block body -%}

<a  href="{{ path('editor_group_rights_add', { 'groupId': group.id }) }}" class="btn btn-default btn-sm">Ajouter</a>

<hr/>

<h3> Utilisateurs ayant des droits pour le group {{ group.name }}</h3>

<ul class="list-group"> 
{% for right in rights %}
    <li class="list-group-item">
        {{ right.user.username }}
        <span class="pull-right">
            <a href="{{ path('editor_group_rights_edit', { 'groupId': group.id, 'rightId': right.id }) }}" class="btn btn-default btn-xs">Editer les droits
            </a>
        </span>
    </li>
{% endfor %}
</ul>

{% endblock %}