<div class="col-md-3">
    <div class="droppable answer-APPT">
        <div propositionId="{{ proposition.id }}" class="proposition draggable">
            <span class="glyphicon glyphicon-move touch-me"></span>
            {{ proposition.media.description }}
        </div>
    </div>
</div>



