<div id="contexte-icon">
    
</div>

<div id="left-container-APP" class="col-md-3 left-container">
    {% include "InnovaSelfBundle:Player/APP:situation.html.twig" %}
</div>

{% for question in questionnaire.questions %}
<div id="right-container-APP" class="col-md-9 right-container">
    <form class="col-md-12" id="main_form" action="{{ path('trace_submit') }}" method="post">
        {# ONGLETS #}
        {% include "InnovaSelfBundle:Player/APP:tab-nav.html.twig" %}
        
        {# CONTENU DES ONGLETS #}
        {% include "InnovaSelfBundle:Player/APP:tab-content.html.twig" %}
        
        {# SUBMIT BUTTON #}
        {% include "InnovaSelfBundle:Player/common:submit.html.twig" %}
    </form>
</div>
{% endfor %}
