{% set listening = app.session.get('listening') %}

{% if questionnaire.dialogue == 0 %}
    {% set icon = "situation_monologue.png" %}
{% elseif questionnaire.dialogue == 1 %}
    {% set icon = "situation_dialogue.png" %}
{% else %}
    {% set icon = "situation_interrompue.png" %}
{% endif %}

<div id="situation-CO" class="situation">
    {% if questionnaire.mediaText is not null %}
        {% if questionnaire.mediaText.mediaType.name == "audio" %}
            {{ macros.audio("consigne", questionnaire.mediaText, "oignon.png", 120, questionnaire.mediaText.mediaLimits[0].listeningLimit, "Consigne") }}
        {% elseif questionnaire.mediaText.mediaType.name == "video" %}
            {{ macros.video("consigne", questionnaire.mediaText, questionnaire.mediaText.mediaLimits[0].listeningLimit) }}
        {% endif %}
    {% endif %}
</div>
