<ul class="nav nav-tabs">
    <li class="nav-tab active">
        <a href="#tab" data-toggle="tab">
            1/1
            <span id="badge-{{ question.subquestions[0].id }}" class="badge pull-right subquestion-not-ok">ok</span>
        </a>
    </li>
</ul>