{% extends '::base.html.twig' %}


{% block body -%}
<div class="text-center"> 
<p>Vous avez répondu à toutes les tâches.  Pour une évaluation plus détaillée, vous pourrez vous adresser à votre tuteur. </p>
<p>Merci pour votre collaboration.</p> 
</div>
{% endblock %}
