{% extends '::base.html.twig' %}


{% block body -%}
<div class="text-center"> 
<p>Vous avez répondu correctement à {{ nbRightAnswer }} tâches sur {{ nbAnswer }}.  Pour une évaluation plus détaillée, vous pourrez vous adresser à votre tuteur ultérieurement. </p>
<p>Merci pour votre collaboration.</p> 
</div>
{% endblock %}
