{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Test</h1>

    <table class="record_properties table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ entity.nom }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('test') }}" class="btn btn-default">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('test_edit', { 'id': entity.id }) }}" class="btn btn-primary">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
