{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Test list</h1>
    <table class="records_list table">
        <thead>
            <tr>
                <th>Nom</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for test in tests %}
            <tr>
                <td><a href="{{ path('test_show', { 'id': test.id }) }}">{{ test.name }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    {% endblock %}
