{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Test list</h1>
    <table class="records_list table">
        <thead>
            <tr>
                <th>Nom</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for test in tests %}
            <tr>
                <td><a href="{{ path('test_show', { 'id': test.id }) }}">{{ test.id }}</a></td>
                <td class="text-right">
                    <a href="{{ path('test_edit', { 'id': test.id }) }}"><span class="glyphicon glyphicon-edit"></span></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('test_new') }}" class="btn btn-primary">Create a new entry</a>

    {% endblock %}
