<div id="item-container" class="row">
    {% if questionnaire.questions[0].typology.name | slice(0,3) == "APP" %}
        {% include "InnovaSelfBundle:Editor/APP:index.html.twig" %}
    {% elseif questionnaire.skill.name == "CO" %}
        {% include "InnovaSelfBundle:Editor/CO:index.html.twig" %}
    {% elseif questionnaire.skill.name == "CE" %}
        {% include "InnovaSelfBundle:Editor/CE:index.html.twig" %}
    {% endif %}
</div>