<!-- Modal -->
<div class="modal fade" id="modalEditor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="panel panel-default">
            <div class="panel-heading">Edition media</div>
            <div class="panel-body">
                <div id="modal-editor-body">
          
                </div>
            </div>
        </div>
        
        <div class="panel panel-default"> 
            <div class="panel-heading">changement du type de media</div>
            <div class="panel-body">
                <span class="btn btn-default glyphicon glyphicon-headphones"> son</span>
                <span class="btn btn-default glyphicon glyphicon-picture"> image</span>
                <span class="btn btn-default glyphicon glyphicon-facetime-video"> video</span>
                <span class="btn btn-default glyphicon glyphicon glyphicon-align-center"> texte</span>
            </div>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>