<div id="modal-listen-context" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
            Il vous faut d'abord écouter le contexte.
             <img src="{{ asset("bundles/innovaself/images/") }}contexte.png"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>