<input type="hidden" name="questionnaireId" value="{{ questionnaire.id}}"/>
<input type="hidden" id="totalTime" name="totalTime" value=""/>
<div class="submit-container row">
    <input id="submit" type="submit" value="{{ 'generic.validate' | trans }}" disabled />
</div>