{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
	<div class="row">
		<div class="col-md-12">	
		    <div class="alert alert-success">{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</div>
			{% include 'InnovaSelfBundle::Main/help.html.twig' %}
			<a href="{{ path('user_test') }}" class="btn btn-primary">Démarrer</a>
		</div>


	</div>
	

{% endblock fos_user_content %}