{% trans_default_domain 'FOSUserBundle' %}
<br>{# TODO: Berk c'est encore Eric qui à mis des BR! #}
<div class="well">
	<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="post" class="fos_user_registration_register">
		<fieldset>
	        <div id="legend">
	            <legend class="">Inscription</legend>{# TODO: i18n #}
	        </div>
		    {{ form_widget(form) }}
		     <div class="col-lg-offset-2 col-lg-10">
	            <input type="submit" id="_submit" name="_submit" value="{{ 'registration.submit'|trans }}" class="btn btn-primary"/>
	        </div>
		</fieldset>
	</form>
</div>