<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Export PDF : du {#date#} </title>
</head>
<body>
Test : {{ test.name }} Langue {{ test.language.name }}

{% for orderQuestionnaire in orderQuestionnaires %}

        <table>
            <tr>
                <td>Thème : {{ orderQuestionnaire.questionnaire.theme }}</td>
                <td>Niveau : {{ orderQuestionnaire.questionnaire.level.name }}</td>
            </tr>
        </table>

{% endfor %}

</body>
</html>