{% extends '::base.html.twig' %}

{% block body -%}
    <h3>{{ 'menu.stats' | trans }}</h3>

    <div class="list-group">
        <a href="{{ path('stats_sessions', { 'isActive': 1 }) }}" class="list-group-item">Sessions actives</a>
        <a href="{{ path('stats_sessions', { 'isActive': 0 }) }}" class="list-group-item">Sessions inactives</a>
        <a href="{{ path('stats_institutions') }}" class="list-group-item">Institutions</a>
    </div>
{% endblock %}
