<div id="contexte">
    {% if questionnaire.mediaContext is not null %}
        <span data-function="edit" data-media-id="{{ questionnaire.mediaContext.id }}" class="btn btn-default glyphicon glyphicon-pencil"></span>
        <span data-name="context">{{ questionnaire.mediaContext.description }}</span> 
    {% else %}
        <span data-function="create" data-target="context" class="btn btn-default glyphicon glyphicon-plus"></span>
    {% endif %}
    <div class="hr"></div>
</div>


