{% extends '::base.html.twig' %}

{% block body -%}

<a class="btn btn-default btn-sm" href="{{ path('editor_test_sessions', { 'testId': test.id }) }}">
    <span class="glyphicon glyphicon-plus"></span> {{ 'editor.session.list' | trans }}
</a>

<hr/>

{{ form(form) }}


{% endblock %}