{% extends '::base.html.twig' %}

{% block body -%}

{% if rightUserSession.id is defined %}
	<a data-method="DELETE" href="{{ path('editor_session_rights_delete', {'sessionId': session.id, 'rightId': rightUserSession.id }) }}" class="btn btn-danger rest"> 
		Supprimer
   	</a>
{% endif %}

<hr/>

<h3> Droits </h3>

{{ form(form) }}

{% endblock %}


{% block javascripts %}
    {{ parent() }}
	<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-rc.2/css/select2.min.css" rel="stylesheet" />
	<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-rc.2/js/select2.min.js"></script>

	<script type="text/javascript">
  		$('#right_user_session_user').select2();
	</script>
{% endblock %}
