<div class="modal fade creditModal" id="creditModal" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ 'menu.credit' | trans }}</h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="panel-heading">Pour les crédits</div>
                    <div class="panel-body">
                        <p>
                            <ul>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li>Ut ullamcorper dolor vitae sapien egestas, quis eleifend metus molestie.</li>
                            <li>Ut elementum est dapibus mauris tincidunt blandit.</li>
                            <li>Mauris pretium urna et mauris viverra faucibus.</li>
                            </ul>
                        </p>
                        <p>
                            <ul>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li>Ut ullamcorper dolor vitae sapien egestas, quis eleifend metus molestie.</li>
                            <li>Ut elementum est dapibus mauris tincidunt blandit.</li>
                            <li>Mauris pretium urna et mauris viverra faucibus.</li>
                            </ul>
                        </p>
                        <p>
                            <ul>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li>Ut ullamcorper dolor vitae sapien egestas, quis eleifend metus molestie.</li>
                            <li>Ut elementum est dapibus mauris tincidunt blandit.</li>
                            <li>Mauris pretium urna et mauris viverra faucibus.</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">{{ 'generic.close' | trans }}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
