<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">Pour les crédits</div>
        <div class="panel-body">
            <p>
            	<ul>
              		<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
              		<li>Ut ullamcorper dolor vitae sapien egestas, quis eleifend metus molestie.</li>
                    <li>Ut elementum est dapibus mauris tincidunt blandit.</li>
                    <li>Mauris pretium urna et mauris viverra faucibus.</li>
                </ul>
            </p>
            <p>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    <li>Ut ullamcorper dolor vitae sapien egestas, quis eleifend metus molestie.</li>
                    <li>Ut elementum est dapibus mauris tincidunt blandit.</li>
                    <li>Mauris pretium urna et mauris viverra faucibus.</li>
                </ul>
            </p>
            <p>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    <li>Ut ullamcorper dolor vitae sapien egestas, quis eleifend metus molestie.</li>
                    <li>Ut elementum est dapibus mauris tincidunt blandit.</li>
                    <li>Mauris pretium urna et mauris viverra faucibus.</li>
            	</ul>
            </p>
        </div>
    </div>
</div>

