<p>Ce test dure environ 1 heure. Il est composé de 37 tâches de compréhension de l’orale en langue italienne.</p>
<p>Chaque tâche est composée de :
	<ul>
  		<li>une consigne didactique (icône…),</li>
  		<li>une situation d’écoute (icône…), généralement contextualisé (icône…),</li>
  		<li>une série de propositions de  réponses, le plus souvent oralisées.</li>
	</ul>
</p>
<p>Attention, les séquences audio pourront être écoutées une fois ou deux fois selon leur durée ou le type de réponse demandée. Le nombre d’écoute sera signalé.</p>
<p>La consigne, le contexte et les propositions peuvent être réécoutées sans limite.</p>
<p>Le son ne peut jamais être interrompu.</p>
<p>Cliquez sur le bouton « {{ 'generic.start' | trans }} » pour obtenir la première tâche.</p>