<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">Pour la compréhension écrite</div>
        <div class="panel-body">
            <p>Chaque tâche est composée de :
                <ul>
                    <li>1) un <b>‘OBJET DE LA QUESTION’</b>, soit :
                        <ul>
                            <img width="45px" src="{{ asset("bundles/innovaself/images/situation-CE.png") }}"/> un <b>texte</b>, avec ou sans <b>titre</b>
                        </ul>
                    </li>
                    <li>2) une série de <b>‘propositions de réponse’</b>, sous forme de QCM (questions à choix multiples), de Vrai-Faux ou d’Appariements.</li>
                </ul>
            </p>
            <p>Mais aussi de:</p>
                <ul>
                    <li>3) une ou plusieurs <b>questions</b> <img height="45px" src="{{ asset("bundles/innovaself/images/oignon") }}"/></li>
                    <li>4) un <b>contexte</b> <img height="45px" src="{{ asset("bundles/innovaself/images/contexte.png") }}"/>
                    <br/> N.B. cette icône est grisée si le contexte n’est pas donné</li>
                </ul>
            </p>
            <hr/>
            <p>Pour agrandir une image, vous pouvez cliquer sur <i>l'image</i>.</p>

                <p>Certaines tâches prévoient plusieurs questions. Dans ce cas, chaque ‘question’ est affichée dans un onglet différent.<br/>Vous ne pourrez valider qu’après avoir répondu à toutes les questions.</p>
            <hr/>
            <p><strong>Attention :</strong>
            <p>* Certains QCM peuvent prévoir plusieurs réponses correctes (dans ce cas, la phrase « Une ou plusieurs réponses sont correctes » est affichée en dessous des propositions de réponse);</p>
            <p>* Certains Vrai-Faux prévoient l’option « on ne peut pas dire » (i.e. : « Vrai », « Faux » ou « On ne peut pas dire »)</p>
        </div>
    </div>
</div>
