<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">Vidéo d'aide</div>
            <video controls>
                <source src="{{ asset('upload/media/') ~ 'Tuto-SELF-Indications-Visuelles-1.webm' }}" poster="{{ asset('bundles/innovaself/images/') ~ "video.png"}}" >
                Your browser does not support the video tag.
            </video>
        </div>
</div>
