<!-- Modal -->
<div class="modal fade helpModal" id="helpModal" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ 'menu.help' | trans }}</h4>
            </div>
            <div class="modal-body">
            <!-- Help file -->
                {% include 'InnovaSelfBundle::Main/help.html.twig' %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">{{ 'generic.ok' | trans }}</button>
          </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->