<div id="maintenance-modale" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">{{ 'params.maintenanceEnabled' | trans }}</h4>
            </div>
            <div class="modal-body text-center">
                Une maintenance est en cours. Il se peut que cela occasionne des dysfonctionnements.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">{{ 'generic.close' | trans }}</button>
            </div>
        </div>
    </div>
</div>
