{% extends '::base.html.twig' %}

{% block body -%}
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, quis est provident ipsam incidunt non impedit culpa quo tempora iure fugiat quos officiis nostrum magni delectus pariatur iusto doloribus deserunt.</p>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, quis est provident ipsam incidunt non impedit culpa quo tempora iure fugiat quos officiis nostrum magni delectus pariatur iusto doloribus deserunt.</p>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, quis est provident ipsam incidunt non impedit culpa quo tempora iure fugiat quos officiis nostrum magni delectus pariatur iusto doloribus deserunt.</p>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, quis est provident ipsam incidunt non impedit culpa quo tempora iure fugiat quos officiis nostrum magni delectus pariatur iusto doloribus deserunt.</p>
   <a href="" class="btn btn-primary">Start test</a>
{% endblock %}
