{% extends '::base.html.twig' %}

{% block body -%}
    {% include 'InnovaSelfBundle::Main/help.html.twig' %}
    <a href="{{ path('user_test') }}" class="btn btn-primary">{{ 'test.start' | trans }}</a>
{% endblock %}
