{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Liste des questionnaires</h1>

    <table class="records_list table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Thême</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</a></td>
                <td>{{ entity.theme }}</a></td>
                <td><a href="{{ path('questionnaire_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-edit"></span></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
