<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}SELF{% endblock %}</title>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
    	<div class="container">
    		<div class="row">
	    		<div class="span12">
			        {% for type, messages in app.session.flashbag.all() %}
			            {% for key, message in messages %}
			                <div class="flash-{{ type }}">
			                    {{ message|trans({}, 'FOSUserBundle') }}
			                </div>
			            {% endfor %}
			        {% endfor %}

			        <div>
			            {% block fos_user_content %}
			            {% endblock fos_user_content %}
			        </div>
	    		</div>
    		</div>
    	</div>
    	<!-- Jquery first then Bootstrap call -->
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    </body>
</html>