{% extends '::base.html.twig' %}

{% block stylesheets %}
        <link href="{{ asset("bundles/innovaself/css/navWizard.css") }}" rel="stylesheet" />
        <link href="{{ asset("bundles/innovaself/css/main.css") }}" rel="stylesheet" />
{% endblock %}

{% block navbar %}
{% endblock %}


{% block body %}
    {# TODO: BR to remove !!!!#}
            <br/>
            {% for type, messages in app.session.flashbag.all() %}
                {% for key, message in messages %}
                    <div class="flash-{{ type }}">
                        <div class="alert alert-success">{{ message|trans({}, 'FOSUserBundle') }}</div>
                    </div>
                {% endfor %}
            {% endfor %}

            <div>
                {% block fos_user_content %}
                {% endblock fos_user_content %}
            </div>
{% endblock %}
