{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
        <a href="{{ path('show_start') }}"><img height="24px" src="{{ asset('upload/media/app-logo.jpg' ) }}"/></a>
        Reset mot de passe SELF - Système d’Evaluation en Langues à visée Formative
        </h4>
    </div>
    <div class="panel-body">

		<p class="alert alert-info">
		{{ 'resetting.check_email'|trans({'%email%': email}) }}
		</p>
	</div>
</div>
{% endblock %}

{% block page_title %}Réinitialisation du mot de passe{% endblock %}
