{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="panel panel-default">
    <div class="panel-body">
		<p class="alert alert-info">
		{{ 'resetting.check_email'|trans({'%email%': email}) }}
		</p>
	</div>
</div>
{% endblock %}


{% block page_title %}Réinitialisation du mot de passe{% endblock %}