{% set bulleCount = 0 %}
<div class="qrm-sub">
    <h4> {{ subquestion.title }}</h4>
    <p>
    {% if subquestion.mediaAmorce is not null %}
        {{ macros.media("amorce-"~ subquestion.id, subquestion.mediaAmorce, "audio.png", 90, 0, "Amorce") }}
    {% endif %}
    {% for proposition in subquestion.propositions | shuffle %}
        {% set bulleCount = bulleCount + 1 %}
        <p class="proposition-block">
            {{ macros.inputs("checkbox", subquestion.id, proposition.id, proposition.title) }}
            {{ macros.media("proposition-" ~ proposition.id, proposition.media,  proposition.media.mediaType.name ~ bulleCount ~".png", 90, 0, "Proposition de réponse") }}
        </p>
    {% endfor %}
    </p>
</div>