{% set bulleCount = 0 %}
<h4> {{ subquestion.title  }}</h4>
<div>
    {% if questionnaire.questions[0].subquestions|length > 1 and subquestion.mediaAmorce is not null %}
        {{ macros.media("amorce-"~ subquestion.id, subquestion.mediaAmorce, "oignon.png", 90, 0, "Amorce") }}
    {% endif %}
</div>
<p>
{% for proposition in subquestion.propositions | shuffle %}
    {% set bulleCount = bulleCount + 1 %}
    <p class="proposition-block">
        {{ macros.media("proposition-" ~ proposition.id, proposition.media, proposition.media.mediaType.name ~ bulleCount ~".png", 90, 0, "Proposition de réponse") }}
        {{ macros.inputs("radio", subquestion.id, proposition.id, proposition.title) }}
    </p>
{% endfor %}
</p>
