{% set bulleCount = 0 %}
<h4> {{ subquestion.title }}</h4>
<p>
    {% if subquestion.media != "" %}
        {% set bulleCountVf = bulleCountVf + 1 %}
        {{ audio.audio("subquestion"+subquestion.id, subquestion.media.url, "bulle"~ bulleCountVf ~".png", 90, 0, "Ecouter cette proposition de réponse") }}
    {% endif %}

    {% for proposition in subquestion.propositions %}
        {% set bulleCount = bulleCount + 1 %}
        {{ inputs.inputs("radio", subquestion.id, proposition.id, proposition.media.name, 90, 0, "Ecouter cette proposition de réponse") }}
        {% if subquestion.media == "" %}
            <br/>
        {% endif %}
    {% endfor %}
</p>