<div class="propositions-EEC">
    {% set propositions = questionnaire.fixedOrder ? subquestion.propositions : subquestion.propositions | shuffle %}
    {% for i, proposition in propositions %}
        {% set bulleCount = i + 1 %}
        <div class="proposition-EEC">
            {{ macros.inputs(subquestion, proposition) }}
            <label for="input-proposition{{ proposition.id }}" class="proposition-EEC-text">
                {{ macros.translateVF(proposition.media.description) }}
            </label>
        </div>
    {% endfor %}
</div>
