<div class="propositions-EEC">

    {# Avril 2014 : affichage en ordre fixe ou pas. EV. #}
    {# {% if subquestion.typology.name == "VF" or subquestion.typology.name == "VFNM" or subquestion.typology.name == "TVF" or subquestion.typology.name == "TVFNM" %} #}
    {% if questionnaire.fixedOrder %}
        {% set propositions = subquestion.propositions %}
    {% else %}
        {% set propositions = subquestion.propositions | shuffle %}
    {% endif %}

    {% for i, proposition in propositions %}
        {% set bulleCount = i + 1 %}
        <div class="proposition-EEC">
            {{ macros.inputs(subquestion, proposition) }}
            <label for="input-proposition{{ proposition.id }}" class="proposition-EEC-text">
                {{ macros.translateVF(proposition.media.description, test.language.name) }}
            </label>
        </div>
    {% endfor %}
</div>
