<div class="propositions-CE">
    {% if subquestion.typology.name == "VF" or subquestion.typology.name == "VFNM" or subquestion.typology.name == "TVF" or subquestion.typology.name == "TVFNM" %}
        {% set propositions = subquestion.propositions %}
    {% else %}
        {% set propositions = subquestion.propositions | shuffle %}
    {% endif %}

    {% for i, proposition in propositions %}
        {% set bulleCount = i + 1 %}
        <div class="proposition-CE">
            {{ macros.inputs(subquestion, proposition) }}
            <label for="input-proposition{{ proposition.id }}" class="proposition-CE-text">
                {{ macros.translateVF(proposition.media.description, test.language.name) }}
            </label>
        </div>
    {% endfor %}
</div>



