<h1>Login</h1>
<a href="{{ path('fos_user_registration_register') }}">Inscription</a>
<a href="{{ path('fos_user_security_login') }}">Login</a>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, quidem necessitatibus nesciunt reiciendis ipsam at. Aliquam, aut, non quaerat repellat cupiditate quas libero at quam minima. Odio, porro nihil modi!</p>