{% if subquestion.typology.name == "QRU" or subquestion.typology.name == "TQRU" or subquestion.typology.name == "VF" or subquestion.typology.name == "VFNM" %}
{% else %}
    <div class="info-right-answer">
        Plusieurs réponses correctes
    </div>
{% endif %}
