{% if questionnaire.mediaFunctionalInstruction.description is not null  %}
      <div class="info-right-answer">
        {{ questionnaire.mediaFunctionalInstruction.description|striptags }}
    </div>
{% endif %}
