{% extends '::base.html.twig' %}

{% block body -%}
    <div class="text-center">
        <p>Vous avez correctement répondu à {{ pourcentRightAnswer }}% des questions. Pour une évaluation plus détaillée, vous pourrez vous adresser à votre tuteur ultérieurement.</p>
        <p>Merci pour votre collaboration.</p>
    </div>
{% endblock %}
