{% extends '::base.html.twig' %}

{% block body -%}
	<div class="row">
		<div class="col-md-12">
		    <h2></span>
		    	Résultats pour le test <strong>{{ session.test.name }}</strong>
		    	<a class=" pull-right btn btn-primary" href="{{ path('pdf-export-session-user', { 'sessionId': session.id }) }}">
		    		<span class="glyphicon glyphicon-floppy-disk"></span>
		    		Exporter au format PDF
		    	</a>
		    </h2>

		    <hr/>
		</div>    

	    

	    {% include "InnovaSelfBundle:Player/common:score.html.twig" %}
		
	</div>

{% endblock %}
