<div class="row" style="margin: 0 0 10px 0;">
	<div class="col-md-12">
		<div class="btn-group pull-right" role="group" aria-label="...">
		     <span class="btn btn-default btn-sm" id="font-down"><span style="font-size:xx-small">A <span class=" glyphicon glyphicon-chevron-down"></span></span></span>
		     <span class="btn btn-default btn-sm" id="font-reset"><span style="font-size:x-small ">A</span></span>
		     <span class="btn btn-default btn-sm" id="font-up"><span style="font-size:small">A <span class=" glyphicon glyphicon-chevron-up"></span></span></span>
		</div>
	</div>
</div>