<div id="item-container" class="row" style="{% if app.request.cookies.has('self-font-size') %}font-size:{{ app.request.cookies.get('self-font-size')}}px{% endif %}">
 	{% set prefix = questionnaire.questions[0].typology.name == "APP" ? "APP" : questionnaire.skill.name %}
    {% include "InnovaSelfBundle:Player/"~prefix~":index.html.twig" %}
</div>
