<div id="item-container" class="row">
    {% if questionnaire.questions[0].typology.name | slice(0,3) == "APP" %}
        {% include "InnovaSelfBundle:Player/APP:index.html.twig" %}
    {% elseif questionnaire.skill.name == "CO" %}
        {% include "InnovaSelfBundle:Player/CO:index.html.twig" %}
    {% elseif questionnaire.skill.name == "CE" %}
        {% include "InnovaSelfBundle:Player/CE:index.html.twig" %}
    {% endif %}
</div>