{% extends '::base.html.twig' %}

{% block body -%}

<h3>Authentification session <b>{{ session.name }}</b></h3>
<hr/>

{% for flashMessage in app.session.flashbag.get('warning') %}
    <div class="alert alert-warning">{{ flashMessage }}</div>
{% endfor %}

<form class="col-md-6" action="{{ path('session_log', { 'sessionId': session.id }) }}" method="post" autocomplete="off">
    <div class="form-group">
        <label for="passwd">Mot de passe</label>
        <input id="passwd" class="form-control" type="password" name="passwd"/>
    </div>
    <button type="submit" class="btn btn-default">Valider</button>
</form>

{% endblock %}
