{% set specialCharsLanguage = ["Italian", "Chinese", "Spanish"] %}

{% set specialChars =
    {
        'Italian' : ["À", "É", "È", "Ì", "Î", "Ó", "Ò", "Ù", "à", "é", "è", "ì", "î", "ó", "ò", "ù"],
        'Chinese' : ["ā","á","ǎ","à","ō","ó","ǒ","ò","ē","é","ě","è","ī","í","ǐ","ì","ū","ú","ǔ","ù","ǖ","ǘ","ǚ","ǜ","ü","Ā","Á","Ǎ","À","Ō","Ó","Ǒ","Ò","Ē","É","Ě","È"],
        'Spanish' : ["á", "é", "í", "ó", "ú", "ü", "ñ", "¿", "¡"]
    }
%}

{% if questionnaire.questions[0].typology.name == "TLQROC" and test.language.name in specialCharsLanguage %}
    <div id="special-char-picker" class="row text-center">
        {% for char in specialChars[test.language.name] %}
            <span class="btn btn-default btn-sm special-char">{{ char }}</span>
        {% endfor %}
    </div>
{% endif %}
