
/**********************************
	TABS
***********************************/

.nav-tabs > li {
	min-width: 80px;
}

.nav-tabs > li > a {
	color:black;
	opacity:0.7;
	border-left:none;
}


#subquestion-container .nav-tabs > li.active > a, #subquestion-container .nav-tabs > li.active > a:hover, #subquestion-container .nav-tabs > li.active > a:focus	{
	opacity:1;
	background-color: #D9EDF7;
	border-left:none;
}

#subquestion-container .tab-pane {

	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	padding:20px 20px 20px 20px;
}

input[type=text] {
	color:#4C4C4C;
}

/**********************************
	fix focus on tabs a
***********************************/

.nav-tab a:focus{
	outline:none;
}


/**********************************
	vertical align
***********************************/

.vertical-middle{
	vertical-align: middle;
}

/**********************************
	listening limit
***********************************/
.media-listening-limit{
	max-width: 50px;
}
