.label-1{
    background-color:#777777;
}

.label-2{
    background-color:#F0AD4E;
}

.label-3{
    background-color:#5CB85C;
}

.label-4{
    background-color:#5BC0DE;
}

.questionnaire.list-group-item{
    cursor:move;
}

.questionnaire.list-group-item .btn{
    cursor:pointer;
}

