.label-1{
    background-color:#777777;
}

.label-2{
    background-color:#F0AD4E;
}

.label-3{
    background-color:#5CB85C;
}

.label-4{
    background-color:#5BC0DE;
}

.questionnaire.list-group-item{
    cursor:move;
}

.questionnaire.list-group-item .btn{
    cursor:pointer;
}

.buttons {
    position:absolute;
    right:5px;
    top:5px;
}

.status-container{
    display:inline-block; 
    min-width:120px;
    margin-left:10px;
}

#tasks-list{
    padding:0;
}

#tasks-list .list-group{
    margin:0;
}

.loader {
    padding: 6px;
    width: 200px;
    text-align: center;
    position: absolute;
    background-color: #e4eeff;
    border: 1px solid #bfbfbf;
    top: 0px;
    right: 0;
    z-index: 10;
}

#tasks .label {
    font-size: 16px;
}
