.required:after {
    content: " *";
	color:red;
}

.questionnaire-container{
	border-radius:10px;
	border:2px solid black;
	margin-bottom:20px;
	position:relative;
	color:white;
	font-size:120%;
	padding:50px;
}

.modal-black {
	background-color: #333300;
}

.central-default {
border-radius:10px;
background-color: #717EE3;
}

.central-pink {
border-radius:10px;
background-color: #717EE3;
}

.central-blue {
border-radius:10px;
background-color: #E37E71;
}

#main_form{
	padding:24px;
	display:inline-block;
}

#item-count{
	color:black;
	position:absolute;
	text-align:center;
	bottom:10px;
	right:15px;
	font-size:90%;
}

.contexte{
	position:absolute;
	top:30px;
	left:-45px;
}

.consigne{
	position:absolute;
	top:150px;
	left:-45px;
}

.contexte, .consigne{
	border-radius:5px;
	background-color:white;
}

.situation{
	padding:60px 0 0 60px;
}

.subquestion{
	margin-left:10px;
	margin-bottom:10px;
}

#submit{
	position:absolute;
	bottom:2px;
	right:40px;
}

.item_audio_button{
	cursor: pointer;
}

input[type="checkbox"], input[type="radio"], label{
	cursor: pointer;
}

.audio-container{
	display:inline-block;
}

/* Drag and drop */
.touch-me{
	cursor:move;
	height:30px;
}

.valid-target{
	border:1px dotted white;
}

.answer{
	width:160px;
	height:100px;
	display:inline-block;
	vertical-align: middle;
	border:1px dotted black;
	border-radius:5px;
}

.source{
	margin-bottom:10px;
	text-align:center;
}

.answer, .source{
	border:1px dotted black;
}

#controlModal{
    height: 400px;
    top: calc(50% - 200px) !important;
}

#helpModal{
    height: 1200px;
    top: calc(20% - 100px) !important;
}

.modales{
	color:black;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
	text-align:justify;
	font-size:15px;

}

.modales img, .modales video{
	max-width:100%;
}

.situation-icon{
	color:white;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
	text-align:justify;
}

.qru-sub, .qrm-sub, .vf-sub{
	padding:20%;
}


div[class="tooltip-inner"] {
    max-width: 250px;
}

.proposition-block{
	display : inline-block;
	vertical-align : middle;
}