#footer {
	background-color: #222222;
    color: #999;
    margin-top: 60px;
    height: 28px;
    position: fixed;
    width: 100%;
    bottom: 0;
    line-height: 28px;
}

#body{
	padding-bottom: 50px;
}

.form-control{
    cursor: e-resize;
}

#situation{
    cursor: text;
}
