
.item_audio_button{
	border-radius:5px;
}

#main-block{
	background-color:#D9EDF7;
	border-radius:5px;
	padding:20px;
	min-height: 250px;
}

#situation{
	padding-top:20px;
}

#submit{
	position:absolute;
	bottom:15px;
	right:15px;
}
