.mejs-container {
    position: relative;
    background: transparent;
    margin-bottom: 10px;
}

/* End: LAYERS */

/* Start: CONTROL BAR */
.mejs-container .mejs-controls {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    bottom: 0;
    left: 0;
    background-color:transparent;
    height: 30px;
    width: 100%;
}

/* End: CONTROL BAR */

/* Start: Time (Current / Duration) */
.mejs-container .mejs-controls .mejs-time {
    color: white;
}

.mejs-container .mejs-controls .mejs-time span {
    color: white;
    font-size: 13px;
    line-height: 12px;
    float: left;
    margin: 15px 2px 0 0;
}
/* End: Time (Current / Duration) */
