/**********************************
	COMPTEUR ITEM
***********************************/

#item-count-container {
	margin-top: -15px;

}

#item-count{
	padding:4px;
}

/**********************************
	CONTAINER ITEM
***********************************/

#item-container {
	border-radius: 10px;
	border: 1px solid black;
	margin: 0 10px 20px 10px;
	position: relative;
	font-size: 120%;
	padding: 20px;
}

/**********************************
	CONTEXTE
***********************************/
/* fix #469 Alignement des textes à gauche par défaut */
p {
    text-align: left;
}

#contexte {
	height:100px;
	padding:25px;
	text-align: center;
	margin-top: 0px;
	padding: 25px;
	position: relative;
	text-align: left;
	top: 50%;
}

.hr {
	margin: 30px 0;
	border-top:1px solid black;
	height:1px;
}

#contexte-icon {
	position:absolute;
	top:20px;
	left:-35px;
	background-color:white;
}

.plop {
	opacity: 0.5;
}

/**********************************
	SITUATION
***********************************/

#situation-icon {
	position:absolute;
	top:120px;
	left:-35px;
	background-color:white;
}

#situation-CO {
	margin-top:-10px;
}

/** pour le cas EEC **/
#situation-EEC {
	width:100%;
	padding: 15px;
	max-height: 500px;
	overflow: auto;
	background-color: #E37E71;
	color: black;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

#situation-EEC img {
	max-width: 100%;
	width:100%;
	display:block;
	margin:auto;
}

#situation-CE, #situation-APP {
	padding: 5px 5px 0 5px;
	max-height: 500px;
	overflow: auto;
/*	text-align: justify;*/
}

#situation-CE img, .situation video {
	max-width: 100%;
	width:100%;
	display:block;
	margin:auto;
}

.title-situation {
	display:block;
	font-weight: bold;
	margin-bottom: 5px;
}

.progress-bar{
	background-color:#E37E71;

}

/**********************************
	LEFT CONTAINER
***********************************/

#left-container-CO {
	padding-top: 90px;
	text-align:center;
}

#left-container-EEC {
	text-align:center;
}
/**********************************
	RIGHT CONTAINER
***********************************/

.right-container {
	border-radius: 5px;
}

.right-container-EEC {
	border-radius: 5px;
}
/**********************************
	TABS
***********************************/

.nav-tabs > li {
	margin-right:3px;
	min-width: 80px;
}

.nav-tabs > li > a {
	color:black;
	padding-right:24px;
	padding-left:24px;
	opacity:0.7;
	border-left:none;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus	{
	opacity:1;
	color:white;
	background-color: #E37E71;
	border-left:none;
}

.tab-pane {
	background-color: #E37E71;
	color: white;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	padding:20px 20px 20px 20px;
}

/** pour le cas EEC **/
.tab-pane-EEC {
	background-color: #E37E71;
	color: white;
	padding:20px 20px 20px 20px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	text-align: left;
}

/** pour l'image cas EEC **/
.image-EEC {
	max-width: 50%;
	width:50%;
	display:block;
	margin:auto;
	padding : 0px;
}
/** pour l'image cas EEC **/
.image-EEC img {
	max-width: 50%;
	width:50%;
	display:block;
	margin:auto;
}

.badge {
	position:absolute;
	top:3px;
	right:3px;
	width:20px;
	height:20px;
	padding-left:3px;
	transform: rotate(-25deg);
	-moz-transform: rotate(-25deg);
	-webkit-transform: rotate(-25deg);
	-khtml-transform: rotate(-25deg);
}

.subquestion-not-ok {
	background-color : lightgrey;
	color:lightgrey;
}

.subquestion-ok {
	background-color: #5CB85C;
	color:white;
}

/**********************************
	QUESTION
***********************************/

.question-CE, .question-EEC {
	margin: 0 0 0 15px;
	min-height: 85px;
}

.question-CO {
	padding: 0 0 0 50px;
}

.question-CE-text {
	position:relative;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid black;
	background-color: white;
	color: black;
	border-radius: 2px;
	padding: 5px 5px 5px 10px;
	width: 75%;
}

.question-EEC-text {
	position:relative;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid black;
	background-color: white;
	color: black;
	border-radius: 2px;
	padding: 5px 20px;
}

/**********************************
	PROPOSITION
***********************************/

.propositions-CE {
	margin: 20px 20px 0 80px;
}

.propositions-CO {
	margin: 10px 0 30px 0;
}

.propositions-EEC {
	margin: 20px 20px 0 80px;
}

input.proposition-input {
	margin-right: 8px;
}

input.proposition-input, label{
	cursor: pointer;
	cursor: hand;
}

/*.clue-fonctionnel + .tooltip > .tooltip-inner {background-color: #f00;}*/

/**********************************
	CLUE DISPLAY
***********************************/

.tooltip .clue-fonctionnel { background-color:red; padding:5px; display:block;border-radius:3px;}
.tooltip .clue-didactique { background-color:black; padding:5px; display:block;border-radius:3px;}

.clue-fonctionnel + .tooltip.top .tooltip-inner {
	background-color:red;
}
.clue-fonctionnel + .tooltip.top .tooltip-arrow {
	border-top-color: red;
}

.proposition-CO, .proposition-CE, .proposition-EEC {
	margin-bottom:8px;
}

.proposition-CE-text, .proposition-CO-text, .proposition-EEC-text {
	display: inline-block;
	vertical-align: middle;
	font-weight: normal;
	padding: 5px 5px 5px 10px;
	border: 1px solid black;
	background-color: white;
	color: black;
	border-radius: 2px;
	width:85%;
}

.proposition-APP {
	border-radius:3px;
	margin-bottom:4px;
	border:1px solid white;
	padding: 5px;
	text-align:center;
	max-height:130px;
}

/**********************************
	SUBMIT
***********************************/

#submit {
	color:black;
	padding:10px 20px 10px 20px;
}

.submit-container {
	text-align: center;
	margin-top: 10px;
}

.btn-default.disabled, .btn-default[disabled], .btn-default.disabled:hover, .btn-default[disabled]:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default.active[disabled], fieldset[disabled] .btn-default.active{
    background-color: lightgrey;
}

/**********************************
	Plusieurs ou une seule réponses correctes
***********************************/

.info-right-answer {
	color:#1C1C1C;
	text-align: center;
	margin: 20px auto 0px auto;
	padding:5px;
	border: 1px solid #E37E71;
	background-color: #F19588;
	border-radius:3px;
}

/**********************************
	fix focus on tabs a
***********************************/

.nav-tab a:focus{
	outline:none;
}

/**************************
 	Drag and drop
***************************/

.dropzone {
	border-radius:3px;
	border:1px dashed #931E11;
	height:130px;
}

.drag-and-drop-input {
	visibility: hidden;
}


.droppable-hover {
	border: 2px solid black;
}

.answer-APP {
	padding:3px;
	width:100%;
	max-height:130px;
	height:130px;
	color:black;
}

.answer-APP > img{
	max-height:100%;
	height:100%;
	max-width:100%;
}

.modal img{
	max-width:100%;
}

.draggable{
	cursor:move;
}

.cible.answered {
	background-color:#FCF6BC;
}

/**************************
 		Video
***************************/

#video-controls {
	margin-top:3px;
}

.progress{
	margin-top:5px;
}


/**************************
 		ADMIN
***************************/
#pick-a-questionaire {
	margin: 15px;
	background-color:#FCF6BC;
	padding:20px;
	border-radius: 10px;
}
