{% extends '::base.html.twig' %}

{% block body -%}
<h1>
    <img src="{{ asset('bundles/innovaself/images/oignon.png') }}"/> 404
</h1>

<h2>
    <p>Désolé, cette page n'existe pas.</p>
    <p>Pour revenir à l'accueil du site, cliquez <a href="{{ path('show_tests') }}">ici</a>.</p>
</h2>
{% endblock %}
