<!DOCTYPE html>
<html>
    <head>
    	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
 	</head>
    <body>
    	<div id="body" class="container">
            <div class="row">
            	<br/>
		    	<div class="well">
				<h1>
				    <img src="{{ asset('bundles/innovaself/images/oignon.png') }}"/> 503
				</h1>
				<h2>
				    <p>Désolé, l'application est en maintenance.</p>
				</h2>
				</div>
			</div>
		</div>
	</body>
</html>
