<div class="panel panel-default">
    <div class="panel-heading">
        #{{ component.alternativeNumber+1 }}
        <div class="pull-right">
            <a class="btn btn-default btn-xs" href="{{ path('editor_remove_component', { 'testId': test.id, 'componentId': component.id  }) }}">-</a>
        </div>
    </div>
    <div class="panel-body">
      ...  
    </div>
</div>