{% extends '::base.html.twig' %}

{% block body -%}
<a class="btn btn-default btn-sm" href="{{ path('editor_test_questionnaires_show', { 'testId': test.id }) }}">
    <span class="glyphicon glyphicon-chevron-left"></span> {{ 'editor.task.manage' | trans }}
</a>

<hr/> 

<h3>Paramètres pour {{test.name}} </h3>              
{{ form(form) }}

{% endblock %}