<div class="col-md-5 question-CO">
    {% if subquestion.mediaAmorce is not null %}
        {% set question = subquestion.mediaAmorce %}
    {% elseif subquestion.media is not null %}
        {% set question = subquestion.media %}
    {% else %}
        {% set question = questionnaire.mediaInstruction %}
    {% endif %}
    {{ macros.audio(subquestion.id, question, "oignon.png", 100, 0, "Question") }}
</div>
