<div class="col-md-5 question-CO">
    {% if subquestion.mediaAmorce is not null %}
        {% set question = subquestion.mediaAmorce %}
    {% else %}
        {% set question = subquestion.media %}
    {% endif %}
    {{ macros.audio("question", question, "oignon.png", 100, 0, "Question") }}
</div>