<div id="contexte-icon">
    {% if questionnaire.mediaContext is not null %}
        {{ macros.audio("context", questionnaire.mediaContext, "contexte.png", "", 0, 'player.tooltip.context' | trans) }}
    {% else %}
        <img class="plop" src="{{ asset("bundles/innovaself/images/contexte.png") }}" />
    {% endif %}
</div>
