<ul class="nav nav-tabs">
    {% for i, subquestion in question.subquestions %}
    <li class="nav-tab {% if i == 0 %} active{% endif %}">
        <a href="#tab-{{ i }}" data-toggle="tab">
            {{ i + 1 }}/{{ question.subquestions|length }}
            <span id="badge-{{ subquestion.id }}" class="badge pull-right">&nbsp;</span>
        </a>
    </li>
    {% endfor %}
</ul>