{% extends '::base.html.twig' %}

{% block body -%}
	<h3>{{ 'user.rights' | trans }}</h3>

	{% for group in groups %}
		<div class="panel panel-default">
			<div class="panel-heading">
			<h3 class="panel-title">{{ group.name }}</h3>
			</div>
			<div class="panel-body">
				<ul class="list-group">
				{% for right in group.rights %}
				   		<li class="list-group-item">
				   			{{ right.name }}
				   			<span class="pull-right">
				   				<a href="{{ path('admin_user_toggle_right', { 'userId': user.id, 'rightId': right.id }) }}">
					   				{% if checkRight(right.name) %}
					   					<span class="text-success glyphicon glyphicon-ok"></span>
					   				{% else %}
					   				    <span class="text-danger glyphicon glyphicon-remove"></span>
					   				{% endif %}
				   				</a>
				   			</span>
				   		</li>
				{% endfor %}
				</ul>
			</div>
		</div>
	{% endfor %}
{% endblock %}
