<div id="identity-container">
    {% import "InnovaSelfBundle:Editor:common/macros.html.twig" as macros %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
            Fiche d'identité
            </h3>
        </div>
        <div class="panel-body">
        </div>
    </div>
</div>