<div id="subquestion-container">
{% if questionnaire.questions[0].typology is not null %}
    {% set typoPrefix = questionnaire.questions[0].typology.name | slice(0,3) %}
    <div class="panel panel-default">
        <div class="panel-heading">
        {% import "InnovaSelfBundle:Editor:common/macros.html.twig" as macros %}

        {% if typoPrefix == "TLC" or typoPrefix == "TLQ" %}
            Lacunes : Indice / Syllabe
            {% if questionnaire.questions[0].subquestions|length == 0  %}
                <span id="create-lacunes" class="btn btn-default btn-xs pull-right">Générer lacunes</span>
            {% else %}
                <span id="create-lacunes" class="btn btn-default btn-xs pull-right" data-toggle="tooltip" data-original-title="Attention cela
                supprimera les indices et syllabes">Regénérer lacunes</span>
            {% endif %}
            </div>
            <div class="panel-body tab-pane">
                {% include "InnovaSelfBundle:Editor/partials:eec.html.twig" %}
            </div>
        {% else %}
                Items
                {% if typoPrefix != "APP"  %}
                    <span id="create-subquestion" class="btn btn-default btn-xs pull-right">{{ 'editor.subquestion.add' | trans }}</span>
                {% endif %}
            </div>
            {% if ( typoPrefix == "APP") %}
                <div class="panel-body tab-pane">
                {% include "InnovaSelfBundle:Editor/partials:app.html.twig" %}
            {% else %}
                <div class="panel-body">
                {% if questionnaire.questions[0].subquestions is not null %}
                    {% set subquestions = questionnaire.questions[0].subquestions %}
                    <ul class="nav nav-tabs">
                        {% for i, subquestion in subquestions %}
                            <li {% if i == 0 %}class="active"{% endif %}>
                                <a href="#subquestion-{{ subquestion.id }}-container" data-toggle="tab">
                                    {% if subquestion.typology %}
                                        {{ subquestion.typology.name}}
                                    {% endif %}
                                    #{{ i+1 }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="tab-content">
                        {% for i, subquestion in subquestions %}
                            {% include "InnovaSelfBundle:Editor/partials:subquestion.html.twig" %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endif %}
            </div>
    {% endif %}
     </div>
{% endif %}
</div>
