{% import "InnovaSelfBundle:Editor:common/macros.html.twig" as macros %}

<div id="subquestion-{{ subquestion.id }}-container" class="tab-pane{% if i is not defined or i == 0 %} active{% endif %}">
    {% set propositions = subquestion.propositions %}
    {% for proposition in propositions %}
        {% include "InnovaSelfBundle:Editor/partials:proposition.html.twig" %}
    {% endfor %}
    <p>
        <span id="create-proposition" data-subquestion-id="{{ subquestion.id }}" class="btn btn-default btn-xs">Ajouter une proposition</span>
    </p>
</div>