<div id="subquestion-container" class="panel panel-default">
    {% import "InnovaSelfBundle:Editor:common/macros.html.twig" as macros %}
    <div class="panel-heading">
        Questions
    </div>
    <div class="panel-body">
        {% if questionnaire.questions[0].subquestions is not null %}
            {% set subquestions = questionnaire.questions[0].subquestions %}
            {% for i, subquestion in subquestions %}
                {{ i }} - {{ subquestion.typology.name }} <br />
            {% endfor %}
        {% endif %}

        <div class="text-center">
            <span id="create-subquestion" class="btn btn-default">Ajouter une question</span>
        </div>
    </div>
</div>